@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the lecture code on consuming a web API using AJAX.</p>
    <a asp-action="Index" asp-controller="Pet">Pet Index</a>
</div>
